<% provide(:title, "Sign in") %>
<title><%= yield :title %></title>
<h1>Sign in</h1>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="sign_in_form">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>

				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>

				<p><%= link_to "forgotten password?", new_password_reset_path %></p>

				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			<% end %>

			<p>New User? <%= link_to "Sign up now!", signup_path %></p>
		</div>
	</div>
</div>