<%= provide(:title, "Edit User") %>
<title><%= yield :title %></title>
<h1>Update your Profile</h1>

<%= render 'form' %>

<%= gravatar_for @user %>
<a href="http://gravatar.com/emails">Change</a>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
