<% provide(:title, @user.username) %>
<head>
  <title><%= yield :title %></title>
  <!--
  <link rel="stylesheet" href="todo_table.css">
-->
</head>
<h1>
	<%= yield :title %>
	<%= gravatar_for @user %>
</h1>
<div class="profile">
  <section>
  	<%= render 'shared/stats' %>
  </section>
  <div class="span8">
  	<%= render 'follow_form' if signed_in? %>
  </div>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Username:</b>
    <%= @user.username %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
  <section>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </section>
  <section>
    <%= render "todos/todo_table" %>
  </section>
</div>
</div>




<!--
<%= link_to 'Go to Your Todos!', user_todos_path(@user) %>
-->
