<% provide(:title, @user.username) %>
<%= javascript_include_tag 'jqueryTutorial' %>
<%= javascript_include_tag 'todo' %>
<%= javascript_include_tag 'list_sort' %>
<head>
  <title><%= yield :title %></title>
  <!--
  <link rel="stylesheet" href="todo_table.css">
-->
</head>
<div class="row">
  <div class="col-xs-12">
    <h1>
    	<%= yield :title %>
    	<%= gravatar_for @user %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <div class="profile">
      <section>
      	<%= render 'shared/stats' %>
      </section>
      <div class="span8">
      	<%= render 'follow_form' if signed_in? %>
      </div>
      <p id="notice"><%= notice %></p>

      <p>
        <b>Username:</b>
        <%= @user.username %>
      </p>

      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
      <section>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="list_sort active"><a href="#">All</a></li>
    <% @lists.each do |list| %>
      <%= render 'lists/list_sort', :list => list %>
    <% end %>
</ul>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <% @todos.each do |todo| %>
        <%= render 'todos/todo_material', :todo => todo %>
      <% end %>
    </div>
  </div>
</div>




<!--
<%= link_to 'Go to Your Todos!', user_todos_path(@user) %>
-->
