<%= provide(:title, "Home") %>
<title><%= yield :title %></title>
<%= javascript_include_tag 'jqueryTutorial.js' %>
<p id="no-script">
	Javascript is awesome and makes this site even more awesome. You should have it enabled!
</p>
<% if signed_in? %>
	<div class="row-fluid">
		<!-- <div class="span8"> -->
		<aside class="span12">
			<!-- <section>
				<p class="disclaimer">This is a disclaimer</p>
				<input type="button" id="togDisclaimer" value="Hide" />
			</section> -->
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<% if @user == current_user %>
		    <b>Todos (<%= @user.todos.count %>)<%= link_to ' Add a New Todo!', new_user_todo_path(@user) %></b>
		    <b>Lists (<%= @user.lists.count %>)<%= link_to ' Add a New List!', new_user_list_path(@user) %></b>
		  <% else %>
		    <b>Todos (<%= @user.todos.count %>)</b>
		    <b>Lists (<%= @user.lists.count %>)</b>
		  <% end %>
			<% if @user.todos.any? %>
			<div class="row-fluid">
				<!-- <%= render 'todos/todo_table' %> -->
				<% @todos.each do |todo| %>
					<%= render 'todos/todo', :todo => todo %>
				<% end %>
			</div>
			<% end %>

		</aside>
		<!-- <div class="span4">
			<h3>Todo Feed</h3>
			erb ruby render shared/feed end erb ruby
		</div> -->
	</div>
<% else %>
	<%= render 'intro_home' %>
<% end %>