<%= provide(:title, "Home") %>
<title><%= yield :title %></title>
<%= javascript_include_tag 'jqueryTutorial' %>
<%= javascript_include_tag 'todo' %>
<%= javascript_include_tag 'list_sort' %>
<p id="no-script">
	Javascript is awesome and makes this site even more awesome. You should have it enabled!
</p>
<% if signed_in? %>
	<div class="row">
		<aside class="col-xs-12">
			<% if @user.todos.any? %>
				<div class="row">
				  <div class="col-xs-12 col-sm-3">
				  	<div class="card">
					  	<!-- <ul class="nav nav-pills nav-stacked" style="margin-top: 20px;">
						    <li role="presentation" class="new_form todo_form"><a href="#">+ New Todo</a></li>					    				 
					    </ul>

					    <hr> -->

					    <div class="row">
					    	<div class="col-xs-6">
									<h4>Sort by List</h4>
								</div>
								<div class="col-xs-6">
									<%= link_to '+ New List', new_user_list_path(current_user), :class=>"btn btn-primary btn-block", :style=>"color: white;" %>
								</div>
							</div>

					    <ul class="nav nav-pills nav-stacked" style="margin-top: 20px;">
						    <li role="presentation" class="list_sort active"><a href="#">All</a></li>				    
						    <% @lists.each do |list| %>
						      <%= render 'lists/list_sort', :list => list %>
						    <% end %>
						    <!-- <li role="presentation" class="new_form"><a href="#">+ New List</a></li> -->
						    <!-- <li role="presentation" class="new_form"><%= link_to '+ New List', new_user_list_path(current_user) %></li> -->
					    </ul>
					  </div>
					</div>
				  <div class="col-xs-12 col-sm-9" id="todo-display">

				  	<div class="row">
					  	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<%= link_to '+ New Todo', '#', :class=>"btn btn-primary btn-block new_form todo_form", :style=>"color: white;" %>
							</div>
						</div>
				  	
				  	<div class="row">
				  		<%= render 'todos/form' %>
				  	</div>
						
				    <div class="row" id="todos">
				      <% @todos.each do |todo| %>
				        <%= render 'todos/todo_material', :todo => todo %>
				      <% end %>
				    </div>
				  </div>
				</div>
			<% end %>

		</aside>
		<!-- <div class="span4">
			<h3>Todo Feed</h3>
			erb ruby render shared/feed end erb ruby
		</div> -->
	</div>
<% else %>
	<%= render 'intro_home' %>
<% end %>