
<% if signed_in? %>
	<div class="row-fluid">
		<aside class="span8">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section class="todo_table">
				<%= render 'todos/todo_table' %>
			</section>

		</aside>
		<div class="span4">
			<h3>Todo Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<%= render 'intro_home' %>
<% end %>