<%= form_for([@user, @todo]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :entry, 'Entry' %><br />
    <%= f.text_field :entry %>
  </div>
  <div class="field">
    <%= f.label :dueDate %><br />
    <%= f.date_select :dueDate %>
  </div>
  <div class="field">
    <%= f.label :assignedDate %><br />
    <%= f.date_select :assignedDate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-large btn-primary" %>
  </div>
<% end %>
