
<div class="col-xs-6 col-sm-4" >
	<div class="todo">
		<div class="row" id="borderBottom">
			<div class="col-xs-6 status"><%= todo.status %></div>
			<div class="col-xs-6 dueDate"><%= l todo.dueDate, format: :duedate %></div>
		</div>
		<div class="row" id="borderBottom">
			<div class="col-xs-12 entry"><%= todo.entry %></div>
		</div>
		<% if todo.list!= nil %>
			<div class="row" id="marginTop">
				<div class="col-xs-12 listName"><h3><%= todo.list.name %></h3></div>
			</div>
		<% end %>
		<div class="row" id="padBottom">
			<div class="col-xs-6 numbers"><h4>Difficulty</h4> <%= todo.difficulty %></div>
			<div class="col-xs-6 numbers"><h4>Priority</h4> <%= todo.priority %></div>
		</div>
		<% if current_user?(todo.user) %>
		<div class="row">
			<div class="col-xs-4 links"><%= link_to 'SHOW', user_todo_path(current_user, todo) %></div>
			<div class="col-xs-4 links"><%= link_to 'EDIT', edit_user_todo_path(current_user, todo) %></div>
			<div class="col-xs-4 links"><%= link_to "DELETE", user_todo_path(current_user, todo), method: :delete, data: { confirm: "You sure?" }, title: todo.entry %></div>
		</div>
		<% end %>
	</div>
</div>