<div class="todo-table">
  <% if @user == current_user %>
    <b>Todos (<%= @user.todos.count %>)<%= link_to ' Add a New Todo!', new_user_todo_path(@user) %></b>
    <b>Lists (<%= @user.lists.count %>)<%= link_to ' Add a New List!', new_user_list_path(@user) %></b>
  <% else %>
    <b>Todos (<%= @user.todos.count %>)</b>
    <b>Lists (<%= @user.lists.count %>)</b>
  <% end %>

  <% if @user.todos.any? %>
    <table class="todoTable">
      <thead>
        <tr>
          <th class="todo-entry">Entry</th>
          <th class="todo-list">List</th>
          <th class="todo-tag">Tag</th>
          <th class="numbers">Due Date</th>
          <th class="numbers">Difficulty</th>
          <th class="todo-priority">Priority</th>
          <th class="todo-status">Status</th>
          <% if current_user?(@user) %>
          <th></th>
          <% end %>
        </tr>
      </thead>
    <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td class="todo-entry"><%= todo.entry %></span></td>
        <td class="todo-list">
          <% if todo.list != nil %>
            <%= todo.list.name %>
          <% else %>
            None
          <% end %></span>
        </td>
        <td class="todo-tag"><%= todo.tag %></span></td>
        <td class="numbers"><%= l todo.dueDate, format: :duedate %></span></span></td>
        <td class="numbers"><%= todo.difficulty %></span></span></td>
        <td class="todo-priority"><%= todo.priority %></span></span></td>
        <td class="todo-status"><%= todo.status %></span></span></td>
        <% if current_user?(todo.user) %>
        <td class="todo-link"><%= link_to 'Show', user_todo_path(current_user, todo) %> | 
        <%= link_to 'Edit', edit_user_todo_path(current_user, todo) %> | 
        <%= link_to "Delete", user_todo_path(current_user, todo), method: :delete,
                                                                             data: { confirm: "You sure?" },
                                                                             title: todo.entry %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <% will_paginate @todos %>
    </table>

  <% end %>
</div>