<tr>
	<td><span class="todo-txt"><%= todo.entry %></span></td>
	<td><span class="todo-txt"><%= todo.tag %></span></td>
	<td><span class="numbers"><%= l todo.dueDate, format: :duedate %></span></span></td>
	<td><span class="numbers"><%= todo.difficulty %></span></span></td>
	<td><span class="numbers"><%= todo.priority %></span></span></td>
	<td><span class="status-text"><%= todo.status %></span></span></td>
	<td><%= link_to 'Show', user_todo_path(@user, todo) %></td>
  <td><%= link_to 'Edit', edit_user_todo_path(@user, todo) %></td>
	<td><% if current_user?(todo.user) %>
		<%= link_to "delete", user_todo_path(current_user, todo), method: :delete,
																		 data: { confirm: "You sure?" },
																		 title: todo.entry %></td>
	<% end %>
</tr>