<%= provide(:title, "Edit Todo") %>
<title><%= yield :title %></title>
<h1>Editing todo</h1>

<%= render 'form' %>

<%= link_to 'Show', user_todo_path(@user, @todo) %> |
<%= link_to 'Back', user_path(@user) %>
