<h1>Listing todos</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Due Date</th>
    <th>Assigned Date</th>
    <th>Priority</th>
    <th>Difficulty</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.entry %></td>
    <td><%= todo.dueDate %></td>
    <td><%= todo.assignedDate %></td>
    <td><%= todo.priority %></td>
    <td><%= todo.difficulty %></td>
    <td><%= todo.status %></td>
    <td><%= link_to 'Show', user_todo_path(@user, todo) %></td>
    <td><%= link_to 'Edit', edit_user_todo_path(@user, todo) %></td>
    <td><%= link_to 'Destroy', user_todo_path(@user, todo), method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_user_todo_path %>
