<p id="notice"><%= notice %></p>
<p>
  <b>Entry:</b>
  <%= @todo.entry %>
</p>

<p>
  <b>Duedate:</b>
  <%= @todo.dueDate %>
</p>

<p>
  <b>Assigneddate:</b>
  <%= @todo.assignedDate %>
</p>

<p>
  <b>Priority:</b>
  <%= @todo.priority %>
</p>


<%= link_to 'Edit', edit_user_todo_path(@user, @todo) %> |
<%= link_to 'Back', user_todos_path %>
